*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    background-color:#132639;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 20px 35px;
}

header h1{
    font-weight: bold;
    margin: 0;
    font-size: 35px;
    background-color:#00b38f ;
    color:#132639 ;
}

header a{
    text-decoration: none;
    color: #00b38f;
    text-decoration-line: underline;
    
}
header a:hover{
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.1vw;
}

.sub{
    background-image:url('../images/wood.png');
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-position: 100%;
    width: auto;
    height: 200px;
    border: 2px solid;
    color: #132639;

}
article p{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 450px;
    padding-top: 30px;
}
.heading {
    float: left;
    position:absolute;
    font-size: 50px;
    color: #132639;
    border-right: 5px solid #132639;
    padding: 10px 5px 10px 200px;
    flex-wrap: wrap;

}

.b{
    top: 2203px;
    left: 116px;
    width: 240px;
    height: 240px;
}

footer{
    display: flex;
    padding: 20px 35px;

}
footer h2{
    float: left;
    position:absolute;
    font-size: 50px;
    color: #132639;
    border-right: 5px solid #132639;
    padding: 10px 5px 10px 200px;
    flex-wrap: wrap;

}

footer a{
    text-decoration: none;
    color: #00b38f;
    text-decoration-line: underline;
}
footer ul {
    padding-left: 450px;
    position: absolute;
}

footer nav ul li a {
    font-weight: lighter;
    font-size: 1.1vw;
}
footer li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 60px;
    padding-top: 20px;
}
footer a:hover{
    color: white;
}